@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<section class="col-sm-12 panel panel-success">
    <address>
        801 industrial blvd<br />
        Gallatin, TN 37066<br />
        <abbr title="Phone">P:</abbr>
        (615) 451-0200
    </address>
</section>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>